DISCORD_TOKEN=your_bot_token_here
GUILD_ID=your_discord_server_id_here
ROLE_ID=the_id_of_the_role_to_grant
LOBBY_ROLE_ID=the_id_of_the_lobby_role_to_remove
SHEET_ID=the_long_id_from_your_google_sheet_url
